# Required modules.
web.py == 0.51
requests >= 2.23.0 ; python_version >= '3.5'

#
# Optional.
#
# MySQL driver.
#   - on OpenBSD, please install py3-mysqlclient.
PyMySQL >= 0.9.3
psycopg2 >= 2.8.3
python-ldap >= 3.2.0

# Unittest.
pytest>=5.1.2
