############################################################
# DO NOT TOUCH THIS LINE.
from libs.default_settings import *
############################################################

# Listen address and port
listen_address = '127.0.0.1'
listen_port = 7779

# Run as a non-privileged user.
run_as_user = 'mlmmj'

# Pid file
pid_file = '/var/run/mlmmj-admin.pid'

# Log level: info, debug.
log_level = 'info'

# Specify the backend used to query existing domains and accounts.
# Different backends may require different parameters in settings.py, please
# read its document.
#
# - If you don't need any SQL/LDAP/... backend, please use backend 'bk_none'.
# - For iRedMail users:
#   - use `bk_iredmail_ldap` for LDAP backends (OpenLDAP, OpenBSD ldapd)
#   - use `bk_iredmail_sql` for SQL backends (MariaDB, MySQL, PostgreSQL)
backend = 'bk_none'

# A list of API AUTH tokens (secret strings) used for authentication.
# It's strong recommended to use a long string as auth token, program will log
# first 8 characters to help you identity the client.
api_auth_tokens = []

# Load extra config file.
#from custom_settings import *
