[Unit]
Description=RESTful API server used to manage mlmmj mailing list manager
After=network.target local-fs.target remote-fs.target

[Service]
Type=simple
ExecStartPre=-/bin/mkdir -p /var/run/mlmmjadmin
ExecStartPre=/bin/chown mlmmj:mlmmj /var/run/mlmmjadmin
ExecStartPre=/bin/chmod 0755 /var/run/mlmmjadmin
ExecStart=/usr/bin/uwsgi --ini /opt/mlmmjadmin/rc_scripts/uwsgi/debian.ini --pidfile /var/run/mlmmjadmin/mlmmjadmin.pid
ExecStop=/usr/bin/uwsgi --stop /var/run/mlmmjadmin/mlmmjadmin.pid
ExecStopPost=/bin/rm -rf /var/run/mlmmjadmin
KillSignal=SIGTERM
PrivateTmp=true

[Install]
WantedBy=multi-user.target
