[Unit]
Description=RESTful API server used to manage mlmmj mailing list manager
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/uwsgi --ini /opt/mlmmjadmin/rc_scripts/uwsgi.ini --pidfile /var/run/mlmmjadmin.pid
ExecStop=/usr/bin/uwsgi --stop /var/run/mlmmjadmin.pid
KillMode=control-group
KillSignal=SIGTERM
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
